{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/checkCrea.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <title>Room Available</title>
</head>
<body>
    <nav class="crea-nav">
        <a href="https://www.it.kmitl.ac.th/th/" target="_blank">
          <img class="it-logo" src="{% static 'img/IT logo.svg' %}">
        </a>
        <div class="easybook-logo">
          <a href="https://github.com/KhanunKup/PSCP-PROJECT-Y1" target="_blank" style="text-decoration: none;">
            <span style="color: #2255A4;">EASY</span><span style="color: #FE6612;">BOOK</span>
          </a>
        </div>
    </nav>

    <div class="container">
        <a href = "index.html"><button class="back-button">BACK</button></a>
    </div>

    <div class="infor-form">
        <h1 class="head-text"><b>Check Available Rooms</b></h1>
    </div>
    <h1 class="creative-head">Creative Room</h1>
    <div class="table-infor">
        <table>
            <thead>
                <tr>
                    <th class="id-th">Student ID</th>
                    <th class="name-th">Name</th>
                    <th class="date-th">Date and time</th>
                </tr>
            </thead>
            <tbody>
                {%for creativereser in list_person %}
                <tr class="body-table">
                    <td>{{creativereser.student_id}}</td>
                    <td>{{creativereser.name}}</td>
                    <td>{{creativereser.event_date}} <b>|</b> {{creativereser.start_time}} - {{creativereser.end_time}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h1 class="peer1-head">Peer 1 Room</h1>

    <div class="peer1">
        <div class="table-infor">
            <table>
                <thead>
                    <tr>
                        <th class="id-th">Student ID</th>
                        <th class="name-th">Name</th>
                        <th class="date-th">Date and time</th>
                    </tr>
                </thead>
                <tbody>
                    {%for peer1reser in list_personpeer1 %}
                    <tr class="body-table">
                        <td>{{peer1reser.student_idpeer1}}</td>
                        <td>{{peer1reser.namepeer1}}</td>
                        <td>{{peer1reser.event_datepeer1}} <b>|</b> {{peer1reser.start_timepeer1}} - {{peer1reser.end_timepeer1}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <h1 class="peer1-head">Peer 2 Room</h1>
    
    <div class="peer2">
        <div class="table-infor">
            <table>
                <thead>
                    <tr>
                        <th class="id-th">Student ID</th>
                        <th class="name-th">Name</th>
                        <th class="date-th">Date and time</th>
                    </tr>
                </thead>
                <tbody>
                    {%for peer2reser in list_personpeer2 %}
                    <tr class="body-table">
                        <td>{{peer2reser.student_idpeer2}}</td>
                        <td>{{peer2reser.namepeer2}}</td>
                        <td>{{peer2reser.event_datepeer2}} <b>|</b> {{peer2reser.start_timepeer2}} - {{peer2reser.end_timepeer2}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <h1 class="peer1-head">Peer 3 Room</h1>
    <div class="peer2">
        <div class="table-infor">
            <table>
                <thead>
                    <tr>
                        <th class="id-th">Student ID</th>
                        <th class="name-th">Name</th>
                        <th class="date-th">Date and time</th>
                    </tr>
                </thead>
                <tbody>
                    {%for peer3reser in list_personpeer3 %}
                    <tr class="body-table">
                        <td>{{peer3reser.student_idpeer3}}</td>
                        <td>{{peer3reser.namepeer3}}</td>
                        <td>{{peer3reser.event_datepeer3}} <b>|</b> {{peer3reser.start_timepeer3}} - {{peer3reser.end_timepeer3}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>