{% extends 'components/base.html' %}
{% load static %}
{% block content %}
<div class="home-section">
    <div class="hero">
      <div class="hero-text">Make booking Creative rooms easier with <span style="color: #2255A4;">EASY</span><span
          style="color: #FE6612;">BOOK</span></div>
      <img class="hero-decoration" src="{% static 'img/hero decoration.svg' %}">
    </div>

    <div class="room-select">
      <!-- <img class="room-select-decoration" src="img/room select.svg"> -->
      <div class="room-select-text">
        <div class="main-room-select-text">
          You can choose <br> all four rooms below
        </div>
        <div class="sub-room-select-text">
          <span style="color: #F00;">rooms available for booking</span> <br>
          Creative and Ideation 1 <br>
          Peer Tutor 1, Peer Tutor 2 and Peer Tutor 3
        </div>
      </div>
    </div>
  </div>

  <div class="operate-section">
      <a href="creative.html"><img class="room-pic" src="{% static 'img/room-img/IMG transition creative.svg' %}"></a>
      <a href="peer1.html"><img class="room-pic" src="{% static 'img/room-img/IMG transition peer 1.svg' %}"></a>
      <a href="peer2.html"><img class="room-pic" src="{% static 'img/room-img/IMG transition peer2.svg' %}"></a>
      <a href="peer3.html"><img class="room-pic" src="{% static 'img/room-img/IMG transition peer3.svg' %}"></a>
</div>
{% endblock %}