{% load static %}
<footer class="footer-container">
    <div class="copy-right">
      @EASYBOOK
    </div>
    <div class="author">     
      <div class="author-spec">
        Made by
        <a href="https://github.com/KhanunKup" target="_blank" style="text-decoration: none;">@KhanunKup</a> &
        <a href="https://github.com/Au4uztOLsen" target="_blank" style="text-decoration: none;">@Au4uztOLsen</a> &
        <a href="https://github.com/EFeriTE" target="_blank" style="text-decoration: none;">@EFeriTE</a> &
        <a href="https://github.com/megabitsss" target="_blank" style="text-decoration: none;">@megabitsss</a> &
        <a href="https://github.com/Krjamwat" target="_blank" style="text-decoration: none;">@Krjamwat</a>
      </div>
    </div>
  </footer>